<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC72ss3qck7IfegF_6a3tbbmJBIzK9N8Sk</string>
	<key>GCM_SENDER_ID</key>
	<string>204527007335</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.scholarChatApp</string>
	<key>PROJECT_ID</key>
	<string>chat--app-76857</string>
	<key>STORAGE_BUCKET</key>
	<string>chat--app-76857.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:204527007335:ios:476d841cb53ac4f1e706c2</string>
</dict>
</plist>